.logo {
    margin: 0 15px;
}

.wallpaper {
    width: 100%;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #54ba00;
}

a:visited {
    text-decoration: none;
    color: #54ba00;
}

.btn-text {
    color: #54ba00;
}

.btn-text:hover {
    color: white;
}
